body {
    margin: 0;
    background-color: #1B3057;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #B31F15;
}

#btnDarkMode {
    display: none;
}

button {
    cursor: pointer;
    text-align: center;
}

#menuTop {
    background-color: #B31F15;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

#conteudoTotal {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 550px;
}

#rodape {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
}

#menuL {
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    width: 220px;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 2.5rem;
}

#conteudoCentral {
    display: block;
    float: left;
    height: auto;
    margin: 1%;
    width: 700px;
}


/* campo de busca inicia */

#campBusca {
    margin: 8px;
    width: 200px;
    height: 40px;
}

#campBuscaInserir {
    border: hidden;
    width: 150px;
    height: 40px;
    background: rgb(77, 0, 0);
    border-radius: 20px 0 0 20px;
    text-align: center;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#campBuscaInserir:focus {
    outline: none;
    text-align: center;
    color: white;
    border-bottom-style: dotted;
    border-width: 2px;
}

#campBuscaInserir::placeholder {
    text-align: center;
    color: grey;
}

#confirmaBusca {
    border: none;
    float: right;
    width: 50px;
    height: 40px;
    background: rgb(13, 11, 41);
    border-radius: 0 20px 20px 0;
    color: grey;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#confirmaBusca:hover {
    border: hidden;
    cursor: pointer;
    border-bottom-style: dotted;
    border-width: 2px;
    color: red;
}


/* campo de busca termina */


/* conteudo principal inicia */

#menuConteudoCentral {
    height: 50px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* botoes elementos inicia */

