* { margin: 0; padding: 0; }

    body{
        font-family: "Poppins", sans-serif;
    }

    hr{
        size:10;
        width: 70vw;
        margin-left: 14%;
    }


/* SLIDER */

.slider {
    display: block;
    height: 293px;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* FIM DE SLIDER */


/* CARD */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 350px;
    transition: all 0.3s ease-out;
  }

  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
   
  .image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }

  .blue {
    border-left: 3px solid #4895ff;
  }
   
  .green {
    border-left: 3px solid #3bb54a;
  }
   
  .red {
    border-left: 3px solid #b3404a;
  }
/* FIM DE CARD */

/*botoes dark mode e light mode abaixo*/

#trocaTema {
    margin: 1%;
}

#btnDarkMode {}

#btnLightMode {}

#cps-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ca {
    color: white;
    display: flex;
    justify-content: baseline;
    font-size: 10px;
}

.logoca {
    margin-left: 4%;
}
