#conteudoToxina {
    color: lime;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 10px lime;
}

#conteudoGlacial {
    color: royalblue;
    box-shadow: 0 0 10px royalblue;
}

#conteudoEletrico {
    color: mediumpurple;
    box-shadow: 0 0 10px mediumpurple;
}

#conteudoRadiacao {
    color: yellow;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 10px yellow;
}

#conteudoMagnetismo {
    color: #1c1c1c;
    text-shadow: 0 0 3px white;
    box-shadow: 0 0 10px #1c1c1c;
}

#conteudoIgnio {
    color: chocolate;
    box-shadow: 0 0 10px chocolate;
}

#conteudoGasoso {
    color: mediumaquamarine;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 10px mediumaquamarine;
}

#conteudoCorrosivo {
    color: yellowgreen;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 10px yellowgreen;
}

#conteudoViral {
    color: violet;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 10px violet;
}

#conteudoColisivo {
    color: cadetblue;
    box-shadow: 0 0 10px cadetblue;
}


/*botoes dark mode e light mode abaixo*/

#trocaTema {
    margin: 1%;
}

#btnDarkMode {}

#btnLightMode {}

#cps-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ca {
    color: white;
    display: flex;
    justify-content: baseline;
    font-size: 10px;
}

.logoca {
    margin-left: 4%;
}
